# Ignore compiled CSS files
public/styles/main.css

# Ignore compiled JS files
public/scripts/main.js

# Ignore node_modules directory
node_modules/

# package files
package-lock.json

# Ignore .env file
.env

# Ignore .DS_Store file
.DS_Store

# Ignore .idea file
.idea/

# Ignore semantic-ui folder
semantic/

# Ignore semantic.json file
semantic.json

# Ignore data folder
data/
