include ../templates/base-template.pug



block styles

block content
  h1= title
  p Welcome to #{title}
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas officiis id libero iure, fugiat enim iste perferendis voluptates odit cupiditate perspiciatis maxime ad quos autem. Saepe aliquam, consequatur fuga fugiat asperiores deleniti, sunt atque aliquid a quam tenetur ipsa iusto iste, culpa praesentium porro! Quo harum quos et nihil. Eaque!
block scripts
  script(src="/scripts/global.js")
