extends ../templates/base.pug

//- atoms
include ../components/atoms/button/button.pug

block content
  h1.ui.header Elements:Button
    hr
    div.ui.basic.button
      i.icon.user
      | Add Friend
