include ../templates/base-template
// atoms
include ../atoms/button/button
include ../atoms/label/label

block content
  div(style="padding: 1rem;")
    h1= title
    p Welcome to #{title}
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut a dicta consequatur porro velit? Labore animi nobis consectetur tempora nesciunt! Iure iusto commodi quaerat aspernatur maiores, nisi odio accusantium consectetur asperiores optio quo rem aut at accusamus, dolorem eligendi rerum impedit beatae reiciendis adipisci quod necessitatibus! Ducimus itaque ipsa perferendis, quasi doloribus sed distinctio mollitia soluta nam provident saepe consequuntur facere commodi dolorem optio error omnis animi, similique laudantium quaerat quis accusantium quisquam quod! Ex repellendus excepturi recusandae eius. Quam corporis mollitia ad quis, minima cumque nostrum veritatis reprehenderit odio ipsum libero ut, molestias, modi error architecto id rem similique.
    +Button('primary')
      | Primary
    +BasicButton('secondary')
      | Secondary
    +InvertedButton('violet')
      | Inverted
    +AnimatedButton('Sign-up for a Pro account', 'Hidden content')
    +Label('tag red')
      | Sale
block scripts
  script(src="/scripts/global.js")
